# .gitignore
.spyproject
"data_files/MBIE - COVID19 Response.csv"
data_files/MBIE - COVID19 Response.csv
modules/__pycache__
"modules/__pycache__"
building-consents-issued.zip
labour-market-statistics-september-2020-quarter-csv.zip
.pylint.d